/* .box{
    height: 400px;
    width: 400px;
    background-color: aqua;
    border:  solid 5px black;
    border-radius: 9px ;box-shadow: 2px 2px 10px 10px  gold;
} */

/* @media (min-width : 300px){
   .box{
    background-color: green;
   }
} */

/* @media(min-width : 300px) and (max-width :500px){
    .box{
        background-color: red;
        height: 100px;
    }
} */

.container{
    background-color: rgb(211, 114, 114);
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
    height: 100%;
    display:flex ;
    flex-direction: row;
    
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: 2px;
    padding: 2px;
    background-color: bisque;
}
@media (min-width :640){
    .container{
        flex-direction: row;
    }
}
@media (max-width:640 ){
    .container{
        flex-direction: column;
    }
}